span.close_keyboard {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fff;
    font-size: 16pt;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}
ul.keyboard-row {
    list-style: none;
    padding: 0 3px;
    margin: 0 auto;
    width: 65em;
}
tr.result-row{
	height: 3em;
}
.aui input, .aui textarea, .aui .uneditable-input {
    width: 95% !important;
}
.aui select {
    width: 95% !important;
}
.input-text{
	padding: 5px 5px 5px 5px;
}
.aui-w1 {
	width: 1% !important;
}

.aui-w2 {
	width: 3% !important;
}

.aui-w3 {
	width: 30px !important;
	text-align: center !important;
}

.aui-w4 {
	width: 4% !important;
}

.aui-w5 {
	width: 5% !important;
}

.aui-w6 {
	width: 6% !important;
}

.aui-w7 {
	width: 7% !important;
}

.aui-w8 {
	width: 8% !important;
}

.aui-w9 {
	width: 9% !important;
}

.aui-w10 {
	width: 10% !important;
}

.aui-w11 {
	width: 11% !important;
}

.aui-w12 {
	width: 12% !important;
}

.aui-w13 {
	width: 13% !important;
}

.aui-w14 {
	width: 14% !important;
}

.aui-w15 {
	width: 15% !important;
}

.aui-w16 {
	width: 16% !important;
}

.aui-w17 {
	width: 17% !important;
}

.aui-w18 {
	width: 18% !important;
}

.aui-w19 {
	width: 19% !important;
}

.aui-w20 {
	width: 20% !important;
}

.aui-w21 {
	width: 21% !important;
}

.aui-w22 {
	width: 22% !important;
}

.aui-w23 {
	width: 23% !important;
}

.aui-w24 {
	width: 24% !important;
}

.aui-w25 {
	width: 25% !important;
}

.aui-w26 {
	width: 26% !important;
}

.aui-w27 {
	width: 27% !important;
}

.aui-w28 {
	width: 28% !important;
}

.aui-w29 {
	width: 29% !important;
}

.aui-w30 {
	width: 30% !important;
}

.aui-w31 {
	width: 31% !important;
}

.aui-w32 {
	width: 32% !important;
}

.aui-w33 {
	width: 33% !important;
}

.aui-w34 {
	width: 34% !important;
}

.aui-w35 {
	width: 35% !important;
}

.aui-w36 {
	width: 36% !important;
}

.aui-w37 {
	width: 37% !important;
}

.aui-w38 {
	width: 38% !important;
}

.aui-w39 {
	width: 39% !important;
}

.aui-w40 {
	width: 40% !important;
}

.aui-w41 {
	width: 41% !important;
}

.aui-w42 {
	width: 42% !important;
}

.aui-w43 {
	width: 43% !important;
}

.aui-w44 {
	width: 44% !important;
}

.aui-w45 {
	width: 45% !important;
}

.aui-w46 {
	width: 46% !important;
}

.aui-w47 {
	width: 47% !important;
}

.aui-w48 {
	width: 48% !important;
}

.aui-w49 {
	width: 49% !important;
}

.aui-w50 {
	width: 50% !important;
}

.aui-w60 {
	width: 60% !important;
}

.aui-w70 {
	width: 70% !important;
}

.aui-w80 {
	width: 80% !important;
}

.aui-w81 {
	width: 81% !important;
}

.aui-w82 {
	width: 82% !important;
}

.aui-w83 {
	width: 83% !important;
}

.aui-w84 {
	width: 84% !important;
}

.aui-w85 {
	width: 85% !important;
}

.aui-w86 {
	width: 86% !important;
}

.aui-w87 {
	width: 87% !important;
}

.aui-w88 {
	width: 88% !important;
}

.aui-w89 {
	width: 89% !important;
}

.aui-w90 {
	width: 90% !important;
}

.aui-w91 {
	width: 91% !important;
}

.aui-w92 {
	width: 92% !important;
}

.aui-w93 {
	width: 93% !important;
}

.aui-w94 {
	width: 94% !important;
}

.aui-w95 {
	width: 95% !important;
}

.aui-w96 {
	width: 96% !important;
}

.aui-w97 {
	width: 97% !important;
}

.aui-w98 {
	width: 98% !important;
}

.aui-w99 {
	width: 99% !important;
}

.aui-w100 {
	width: 100% !important;
}
.portlet-msg-error {
	font-style: italic;
	font-weight: bold;
	margin: 1px 0px 0px 0px;
	padding: 1px 5px 1px 24px;
}

.portlet-msg-info {
	font-style: italic;
	margin: 1px 0px 0px 0px;
	padding: 1px 5px 1px 24px;
}
fieldset.fieldset-border {
    border: 1px groove #fff !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
a.title-fieldset{
	text-decoration: none;
}
a.title-fieldset:focus,a.title-fieldset:hover, a.title-fieldset:active {
    outline: 0;
    text-decoration: none;
    color: #f27228 !important;
}
legend.legend-border {
	display: block;
	width: auto;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}